.tweet-content {
  padding-left: 60px !important ;
}

.tweet {
  padding: 8px 0px !important;
  width: auto !important;
  border: none !important;
  border-bottom: 1px solid #e6ecf0 !important;
}

.metadata {
  border: none !important ;
}

.rt-likes {
  border: none !important;
}
