/* input */
.rightbarinput {
  border-radius: 9999px;
  height: 44px;
  background-color: var(--twitter-background);
}

.rightbarinput > input {
  background-color: var(--twitter-background);
}

/* What's happening list */
.list {
  width: 300px;
  background-color: var(--twitter-background);
  border-radius: 16px;
  border: none;
}

.list .ant-list-header {
  border-block-end: none;
}
