body {
  --twitter-color: #1da1f2;
  --twitter-background: #f5f8fa;
}

.main-feed-col {
  width: 600px;
}

.left-bar-col {
  width: 275px;
}

.right-bar-col {
  width: 350px;
}

@media (max-width: 1000px) {
  .left-bar-col {
    display: none;
  }
}
@media (max-width: 1000px) {
  .right-bar-col {
    display: none;
  }
}
